@rendermode InteractiveServer
@using BlazorApp1.Models

<section>


<div class ="card">
    <h2 class="task-name card-header-title">Title: @LocalAlbum.Name</h2>
        <InputText @bind-Value="_Name" @oninput="e => InputChecker(1, e.Value?.ToString())" />
        <p> - @_NameValid </p>
        <button @onclick="() => SetDetail(1)">Set Value</button>

    <h3 class="task-name card-header-title">Unique ID: @LocalAlbum.AlbumId</h3>
        <InputText @bind-Value="_AlbumId" @oninput="e => InputChecker(2, e.Value?.ToString())" />
        <p> - @_AlbumIdValid </p>
        <button @onclick="() => SetDetail(2)">Set Value</button>

        <h4 class="task-description card-content">Artist: @string.Join(", ", LocalAlbum.ArtistId)</h4>
        <InputText @bind-Value="_ArtistId" @oninput="e => InputChecker(5, e.Value?.ToString())" />
        <p>- @_ArtistIdValid </p>
        <button @onclick="() => SetDetail(5)">Set Value</button>

    <h4 class="task-description card-content">Genre: @LocalAlbum.Genre</h4>
        <InputText @bind-Value="_Genre" @oninput="e => InputChecker(4, e.Value?.ToString())" />
        <p>- @_GenreValid </p>
        <button @onclick="() => SetDetail(4)">Set Value</button>

    <h4 class="task-description card-content">Release Year: @LocalAlbum.Year</h4>
        <InputText id="Year" @bind-Value="_Year" @oninput="e => InputChecker(3, e.Value?.ToString())" />
        <p>- @_YearValid </p>
        <button @onclick="() => SetDetail(3)">Set Value</button>

    <h4 class="task-description card-content">Price: @LocalAlbum.Price</h4>
        <InputText @bind-Value="_Price" @oninput="e => InputChecker(6, e.Value?.ToString())" />
        <p>- @_PriceValid </p>
        <button @onclick="() => SetDetail(6)">Set Value</button>

        <button @onclick="() => UpdateAlbum()"> Save changes </button>
        <button @onclick="() => LoadAlbum()"> Clear Changes</button>

        <label for="Year">Enter your name</label>

</div>
</section>

@code {

    [Parameter]
    public Album album { get; set; }

    private Album LocalAlbum = new();

    protected override void OnInitialized()
    {
        LoadAlbum();
    }

    protected void LoadAlbum()
    {
        LocalAlbum = new Album {
            AlbumId = album.AlbumId,
            ArtistId = album.ArtistId.ToArray(), 
            Genre = album.Genre,
            Name = album.Name,
            Price = album.Price,
            Year = album.Year };
    }
    
    private string? errorMessage;
    protected async Task UpdateAlbum()
    {
        try
        {
            var http = new HttpClient();

            var response = await http.PatchAsJsonAsync<Album>(
               $"https://localhost:7220/album/id/{album.AlbumId}",LocalAlbum);

            if (response.IsSuccessStatusCode)
            {
                album.AlbumId = LocalAlbum.AlbumId;
                album.ArtistId = LocalAlbum.ArtistId;
                album.Genre = LocalAlbum.Genre;
                album.Name = LocalAlbum.Name;
                album.Price = LocalAlbum.Price;
                album.Year = LocalAlbum.Year;
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    private string _AlbumId = string.Empty;
    private string _Year = string.Empty;
    private string _Name = string.Empty;
    private string _Genre = string.Empty;
    private string _ArtistId = string.Empty;
    private string _Price = string.Empty;

    public string[] Validity = [string.Empty, "Valid", "Invalid"];

    private string _AlbumIdValid = string.Empty;
    private string _YearValid = string.Empty;
    private string _NameValid = string.Empty;
    private string _GenreValid = string.Empty;
    private string _ArtistIdValid = string.Empty;
    private string _PriceValid = string.Empty;

    // typedvalues
    public int _albumId;
    public int _year;
    public string _name;
    public string _genre;
    public int _artistId;
    public int _price;

    public enum GuideKey
    {
        Name = 1,
        AlbumId = 2,
        Year = 3,
        Genre = 4,
        ArtistId = 5,
        Price = 6,
    }

    public void InputChecker(int guideKey, string input)
    {
        if (guideKey == 1)
        {
            if(string.IsNullOrWhiteSpace(input))
            {
                _NameValid = string.Empty;
            }
            else if (input.Length < 3)
            {
                _NameValid = "Invalid";
            }
            else
            {
                _NameValid = "Valid";
            }
        }

        if (guideKey == 4)
        {
            if (string.IsNullOrWhiteSpace(input))
            {
                _GenreValid = string.Empty;
            }
            else if (input.Length < 3)
            {
                _GenreValid = "Invalid";
            }
            else
            {
                _GenreValid = "Valid";
            }
        }

        if (guideKey == 2)
        {
            if (string.IsNullOrWhiteSpace(input))
            {
                _AlbumIdValid = string.Empty;
            }
            else
            {
                int albumId;
                bool typeCorrect = int.TryParse(input, out albumId);
                if (!typeCorrect)
                {
                    _AlbumIdValid = "Invalid";
                }
                else
                {
                    _AlbumIdValid = "Valid";
                    _albumId = albumId;
                }
            }
        }

        if (guideKey == 3)
        {
            if (string.IsNullOrWhiteSpace(input))
            {
                _YearValid = string.Empty;
            }

            else {
                int year;
                bool typeCorrect = int.TryParse(input, out year);
                if (!typeCorrect)
                {
                    _YearValid = "Invalid";
                }
                else
                {
                    _YearValid = "Valid";
                    _year = year;
                }
            }
        }

        if (guideKey == 5)
        {
            if (string.IsNullOrWhiteSpace(input))
            {
                _ArtistIdValid = string.Empty;
            }
            else
            {
                int artistId;
                bool isInt = int.TryParse(input, out artistId);
                if (!isInt)
                {
                    _ArtistIdValid = "Invalid";
                }
                else
                {
                    _ArtistIdValid = "Valid";
                    _artistId = artistId;
                }
            }
        }

        if (guideKey == 6)
        {
            if (string.IsNullOrWhiteSpace(input))
            {
                _PriceValid = string.Empty;
            }
            else
            {
                int price;
                bool isInt = int.TryParse(input, out price);
                if (!isInt)
                {
                    _PriceValid = "Invalid";
                }
                else
                {
                    _PriceValid = "Valid";
                    _price = price;
                }
            }
        }
     }

    public void SetDetail(int guideKey)
    {

        if (guideKey == 1)
        {
            if (_NameValid == "Valid")
            {
                LocalAlbum.Name = _Name;
                _Name = string.Empty;
            }
        }

        if (guideKey == 2)
        {
            if (_AlbumIdValid == "Valid")
            {
                LocalAlbum.AlbumId = _albumId;
                _AlbumId = string.Empty;
            }
        }

        if (guideKey == 3)
        {
            if (_YearValid == "Valid")
            {
                LocalAlbum.Year = _year;
                _Year = string.Empty;
            }
        }

        if (guideKey == 4)
        {
            if (_GenreValid == "Valid")
            {
                LocalAlbum.Genre = _Genre;
                _Genre = string.Empty;
            }
        }

        if (guideKey == 5)
        {
            if (_ArtistIdValid == "Valid")
            {
                LocalAlbum.ArtistId = LocalAlbum.ArtistId.Append(_artistId).ToArray();
                _ArtistId = string.Empty;
            }
        }

        if (guideKey == 6)
        {
            if (_PriceValid == "Valid")
            {
                LocalAlbum.Price = _price;
                _Price = string.Empty;
            }
        }
    }
}
